.screen_06{
    width: 100%; /*1920px*/
    /*1080px* 또는 100vw*/   
    height: 100vh;  
    display: grid;
    grid-template-areas:
    "etc_left scroll_area"
    ;
    grid-template-columns: 83% 17%;
    background: repeating-linear-gradient(-45deg, #F0EFF4, #F0EFF4 5px, #fff 0,#fff 25px);
    scroll-snap-align: start;
}

.etc_left{
    grid-area: etc_left;
    display: flex;  
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

    .category{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 10%;
    }

    .category_button{
        position: relative;
        background-color:var(--color-text);
        color: var(--color-primary);
        font-size: 30px;
        /*padding: 0.5rem 3 cqh;*/
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 40px;
        cursor:pointer;
        white-space: nowrap;
    }

        .category_selected{
            background-color: var(--color-accent);
            color: var(--color-primary);
            border-color: var(--color-accent);
        }


        /*===============img 6개===================*/
        .etc_all{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;
        }

        .etc_work{
            position: relative;
            overflow: hidden;
        }

        .etc_img{
            width: 100%;
        }

        .etc_text{
            position: absolute;
            top: 0;
            left: 0;
            width:300px;
            height: 300px;
            background-color: var(--color-text);
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 300ms;
            transform: translate(-10px);
            color: #fff;
        }
        .etc_text:hover{
            opacity: 0.8;
            transform: translateY(0px);
        }

        .etc_title::after{
            content: "";
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 0.5rem 0;
            width: 50%;
            height: 2px;
            background-color: var(--color-accent);
        }

        .scroll_area{
            grid-area: scroll_area;
            background-color: #fff;
            height: 100vh;
        }