.screen_05{
    width: 100%; /*1920px*/
    /*1080px* 또는 10 0vw*/  
    height: 100vh;
    display: grid;
    grid-template-areas:
    "po_left po_right scroll_area_position_portfolio";
    grid-template-columns: 54% 29% 17%;
    scroll-snap-align: start;
    background-color: var(--color-origin);
   
}

.po_left{
    grid-area: po_left;
    background-color: var(--color-origin);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .po_container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
        .rect_po{
            cursor :pointer;
            width: 80rem;
            height: 50rem;
            background-color: #4a4a4a;
        }

            .text_po_01{ 
                font-size: 2.5rem;
                color: var(--color-text);
                gap: 5rem;
                text-align: center;
            }


    
.po_right{
    grid-area: po_right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: center;
}


.scroll_area_position_portfolio{
    grid-area: scroll_area_position_portfolio;
    background-color: var(--color-origin);
}
    .search_box_position_portfolio{
        width: 28rem;
        height: 6rem;
        margin: 1rem;
        margin-left: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .scroll_text_portfolio{
            font-size: 3rem;
            margin-left: 1rem;
            margin-right: 9rem;
            text-align: center;
            z-index: 901;
            color: var(--color-text);
        }

    .text_po_03{
        font-size: 2rem;
        color: var(--color-text);
        text-align: center;
    }
