.screen_02{
    width: 100vw; /*1920px*/
    /*1080px* 또는 100vw*/  
    height: 100vh;  
    display: flex;
    flex-flow: column wrap;
    /*scroll-snap-align: end;*/
}

.screen_container_02{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: 259px;
    margin: 19% 37%;
    justify-content: center;
    align-items: center;
}



.screen_scroll{
    width: 54px;
    height: 86px;
    border-radius: 40px;
    background-color: var(--color-primary);
}


.text_00 {
    font-size: 60px;
    text-align: center;
    font-weight:bold;
    color: var(--color-text);
}

.text_01{
    font-size: 60px;
    text-align: center;
    font-weight:bold;
    color: var(--color-accent);
}