.screen_03{
    width: 100%; /*1920px*/
    /*1080px* 또는 100vw*/  
    height: 100vh;  
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "main_bottom"
    ;
    grid-template-columns: 100%;
    grid-template-rows: /*72px 943px 65px*/ 5vh 90vh 5vh;
    scroll-snap-align: start;
    background-color: var(--color-origin);
}
/*================================================header==========================*/

.header{
    grid-area: header;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
    justify-content: space-between;
}
    .toggle_header{
        display: none;
    }
    
    .header_menu{
        display: flex;
        gap: 1rem;
        margin-left: 135rem;
    }

    .header_menu_item{
        color: var(--color-text);
        display: block;
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    .header_menu_item:hover{
        color: var(--color-primary-variant);
    }



/*================================================main==========================*/

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;

}

    .main_left{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 10rem;
    }
        .home_avatar{
            width: 40rem;/*345px;*/
            height: 55rem;/*526px;*/
            object-fit: cover;
            border-radius: 300px;
            border: 3px solid var(--color-text);
            background-image: url(../image/person.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .keyword{
            margin-top: 5rem;
        }

        .main_right{
            display: flex;
            flex-flow: column wrap;
            gap: 8rem;
            margin-left: 10rem;

        }
            .main_right_01{
                margin-top: 2rem;
            }
            .main_right_02{
                display: flex;
                flex-flow: column nowrap;
                gap: 2rem;
            }
            .main_right_03{ 
                display: flex;
                flex-flow: no-wrap;
                gap: 1rem;
            }

            .skill_box{
                width: 50px;
                border-radius: 10px;
                overflow: hidden;
            }
.main_bottom {
    grid-area: main_bottom;
}
            .text_05{
                font-size: 5.5rem;
                text-align: left;
                color: var(--color-text);
            }
 
            .text_05_bold{
               font-size: 5.5rem;
                text-align: left;
                font-weight: bold;
                color: var(--color-text);
            }

            .text_05_accent{
                font-size: 5.5rem;
                text-align: left;
                font-weight:bold;
                color: var(--color-accent-text);
            }

            .text_06{
                font-size: 2.5rem;
                text-align: left;
                color: var(--color-text);
            }

            .text_06_line{
                font-size: 2rem;
                text-align: left;
                color: var(--color-text);
                text-decoration: underline;
            }