.screen_07{
    width: 100%; /*1920px*/
    /*1080px* 또는 100vw*/  
    height: 100vh;  
    display: grid;
    grid-template-areas:
    "contact_left scroll_area_position_contact"
    ; 
    grid-template-columns: 83% 17%;
    scroll-snap-align: end;

}  

.contact_left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-origin);
}
.contact_left_container{
    display: block;
}
    .contact_box{
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
    }

.text_08{
    font-size: 3rem;
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
}

.text_08_small{
    font-size: 2rem;
    color: var(--color-text);
    text-align: center;
}

.scroll_area_position_contact{
    grid-area: scroll_area_position_contact;
    background-color: var(--color-origin);
}
    .search_box_position_contact{
        width: 28rem;
        height: 6rem;
        margin: 1rem;
        margin-left: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .scroll_text_contact{
            font-size: 3rem;
            margin-left: 1rem;
            margin-right: 11rem;
            text-align: center;
            z-index: 904;
            color: var(--color-text);
        }

