.screen_04{
    width: 100%; /*1920px*/
    /*1080px* 또는 100vw*/  
    height: 100vh;  
    scroll-snap-align: start;
    display: grid;
    grid-template-areas:
    "about_left about_right scroll_area_position"
    ;
    grid-template-columns: 54% 29% 17%;
    background-color: var(--color-origin);
}

.about_left{
    grid-area: about_left;
    background-color:var(--color-primary);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

} 
    .first{
        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        gap: 10rem;
        margin-bottom: 10rem;
    }
        .first_box{
            width: 20rem;
            height: 4rem;
            background-color: var(--color-accent);
            border-radius: 50px;
            text-align: center;
            }
           
    .second{
        display: flex;
        flex-flow: nowrap;
        gap: 10rem;
    }


.about_right{
    grid-area: about_right;

} 
    .right_box{
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(-45deg, var(--color-primary),var(--color-primary) 5px, #ffffff00 0, #ffffff00 1.5rem);
        z-index: 300;
    }

.scroll_area_position{
    grid-area: scroll_area_position;
    width: 100%; 
}
    .search_box_position{
        width: 28rem;
        height: 6rem;
        margin: 1rem;
        margin-left: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


        .scroll_text{
            font-size: 3rem;
            margin-left: 1rem;
            margin-right: 10rem;
            text-align: center;
            z-index: 900;
            color: var(--color-text);
            white-space: nowrap; 
            overflow: hidden;
            border-right: 2px solid var(--color-text);
            display: inline-block;
            animation: typing 2s steps(20, end), blink-caret 0.5s step-end infinite;
        }

        @keyframes typing {
            from { width: 0; }
            to { width: 100%; }
          }
          
          @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color: var(--color-text); }
          }
        /*
        .blink {
            animation: blink 0.7s infinite;
            font-size: 3rem;
            margin-right: 10rem;
            text-align: center;
            z-index: 900;
            color: var(--color-text);
          }

          @keyframes blink {
            from{
                opacity: 0;
            }
            to {
              opacity: 80;
            }
          }*/

        /*
        .scroll_text::after{
            content: '';
            margin-left: 3rem;
            border-right: 2px solid var(--color-text);
            animation: cursor .9s infinite steps(2);
        }

        @keyframes cursor {
            from { border-right: 2px solid var(--color-primary); }
            to { border-right: 2px solid var(--color-text); }
          }
          */


.text_07_round{
    font-size: 2.5rem;
    color: #fff;
}

.text_07{
    font-size: 2.5rem;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.text_07_small{
    font-size: 1.5rem;
    color: var(--color-text);
    margin-left: 11rem;
}

