:root{
    /*bright Color*/
    --color-black:#121212;
    --color-red:#e90000;
    --color-yellow:#ffbb00;
    --color-lightgray:#F0EFF4;
    --color-gray:#8A8A8A;

    /*Color*/
    --color-primary:var(--color-lightgray);
    --color-primary-variant:var(--color-gray);
    --color-accent:var(--color-red);
    --color-accent-variant:var(--color-yellow);
    --color-text:var(--color-black);
    
    /*Size*/

    /*scroll-snap-type: y mandatory;*/
}


ul{
    list-style: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* text 모음=======================

.text_00 {
    font-size: 60px;
    text-align: center;
    font-weight:bold;
    color: var(--color-text);
}

.text_01{
    font-size: 60px;
    text-align: center;
    font-weight:bold;
    color: var(--color-accent);
}

.text_02{
    font-size: 60px;
    text-align: center;
    font-weight:bold;
    color: var(--color-text);
    margin: 23% 67% 23% 4%;
}

.text_03{
    font-size: 30px;
    text-align: center;
    color: var(--color-text);
}


.text_04{
    font-size: 30px;
    text-align: center;
    font-weight:bold;
    color: var(--color-accent);
}

.text_04_02{
    font-size: 30px;
    text-align: center;
    font-weight:bold;
    color: var(--color-text);
}

.text_bold{
    font-size: 30px;
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
}
#icon_size{
    font-size: 50px;
    margin-right: 4%;
}

.text_05{
    font-size: 50px;
    text-align: left;
    color: var(--color-text);
}

.text_05_bold{
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    color: var(--color-text);
}

.text_05_accent{
    font-size: 50px;
    text-align: left;
    font-weight:bold;
    color: var(--color-accent);
}

*/