:root{
    /*bright Color*/
    --color-black:#121212;
    --color-red:#e90000;
    --color-yellow:#ffbb00;
    --color-lightgray:#F0EFF4;
    --color-gray:#8A8A8A; 

    /*Color*/
    --color-primary:var(--color-lightgray);
    --color-primary-variant:var(--color-gray);
    --color-accent:var(--color-red);
    --color-accent-variant:var(--color-yellow);
    --color-text:var(--color-black);
    
    /*Size*/

    scroll-snap-type: y mandatory;
}
html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--color-text);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
