
:root{
       /*Color*/
    --color-primary:#F0EFF4;
    --color-primary-variant:#8A8A8A; 
    --color-accent:#e90000;
    --color-accent-variant:#ffbb00;
    --color-text: #121212;
    --color-origin:#fff;

}


.darkmode{
    --color-primary:#323232;
    --color-primary-variant:#2E2C2A; 
    --color-accent:#B00712;
    --color-accent-variant:#E4AF15;
    --color-text:#f7f7f7;
    --color-origin:#08080B;
}
html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--color-text);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5vw;
    scroll-snap-type: y mandatory;

}



.screen_scroll{
    width: 54px;
    height: 86px;
    border-radius: 40px;
    background-color: var(--color-primary);
}